$rlDropDownButtonPrimary: #428bca;
$rlDropDownButtonPrimaryHover: darken($rlDropDownButtonPrimary, 20%);

$rlDropDownButtonSuccess: #6ABE6A;
$rlDropDownButtonSuccessHover: darken($rlDropDownButtonSuccess, 20%);

$rlDropDownButtonDanger: red;
$rlDropDownButtonDangerHover: darken($rlDropDownButtonDanger, 20%);

#firstDiv {
  position: relative;
  display: inline-block;
  font-family: Nunito Sans, sans-serif;
}

.dropDownButtonPrimary {
  background: $rlDropDownButtonPrimary;
}

.dropDownButtonPrimary:hover, .dropDownButtonPrimary:focus, .dropDownItemPrimary:hover {
  background: $rlDropDownButtonPrimaryHover;
  color: white;
}

.dropDownButtonSuccess {
  background: $rlDropDownButtonSuccess;
}

.dropDownButtonSuccess:hover, .dropDownButtonSuccess:focus, .dropDownItemSuccess:hover {
  background: $rlDropDownButtonSuccessHover;
  color: white;
}

.dropDownButtonDanger {
  background: $rlDropDownButtonDanger;
}

.dropDownButtonDanger:hover, .dropDownButtonDanger:focus, .dropDownItemDanger:hover {
  background: $rlDropDownButtonDangerHover;
  color: white;
}

.baseDropDownButton {
  color: white;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
}

.baseDropDownButton > span {
  padding-left: 3px;
}

.baseDropDownItem {
  padding: 3px;
  font-size: 14px;
}

.baseDropDownItem > div {
  margin-left: 10px;
}

.baseDropDownMenu {
  display: block;
  position: absolute;
}
