$rlColorPrimary: #e86e84;
$rlColorCollector: #6ABE6A;
$rlColorDanger: #C54F4F;
$rlColorBlack: #000000;
$rlColorBlue: #357ebd;
$rlColorNavigation: #33475b;
$rlColorNavigationDarker: #000000;

// Navigation Styles

$rlNavigationBackgroundColor: $rlColorNavigation;
$rlNavigationBackgroundColorHover: $rlColorNavigationDarker;
